body {
  background: #283747;
}
.header {
  margin-left: 50px;
  width: 1500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(21, 71px);
  grid-template-rows: repeat(6, 83px);
}

#chatbox {
  position: absolute;
  top: 110px;
  left: 1600px;
  background-color: #23313d;
  border-radius: 10px;
  border: solid black 2px;
}
/* where messages appear */
#message-container {
  border-radius: 10px;
  width: 443px;
  height: 435px;
  overflow-y: scroll;
  background-color: #fcefed;
}

#message-container > .Oncommingtext {
  border-radius: 15px 50px 30px 5px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin: 10px;
  padding: 2px;
}
#message-container > .Oncommingtext > span {
  padding: 3px;
  background-color: #faf8d4;
  border-radius: 10px;
}
input[type="text"] {
  background-color: #fdf6f6;
  border-radius: 4px;
  color: black;
}

#message-container > .yourMessage {
  text-align: right;
  border-radius: 15px 50px 30px 5px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin: 10px;
  padding: 2px;
}
#message-container > .yourMessage > span {
  padding: 3px;
  background-color: #86bcf4;
  border-radius: 10px;
}

.draggable {
  display: inline-block;
  position: relative;
  border: solid #1c2833 1px;
  height: 70px;
  width: 60px;
  top: 5px;
  left: 5px;
  font-family: "Roboto", sans-serif;
  text-shadow: 2px 5px 5px white;
  text-align: center;
  cursor: pointer;
}

.header .empty {
  display: grid;
  box-sizing: border-box;
  border: 1px solid #eaecee;
  background: #aed6f1;
}

.draggable.dragging {
  border: solid #e67e22 4px;
  border-style: dashed;
}

.hovered {
  background: blueviolet;
  border-style: dashed;
}
.invisible {
  display: none;
}

.deck {
  height: 100px;
  width: 80px;
  background-image: url("deckP.png");
  background-position: center;
  background-size: cover;
  background-color: black;
}
.deck:hover {
  cursor: pointer;
}

#cards {
  height: 200px;
  background-color: #1c2833;
}

#sorthand {
  height: 70px;
  width: 150px;
  background: wheat;
  display: inline-block;
}
#sorthand:hover {
  cursor: pointer;
  background: #ffff99;
}
#validate:hover {
  cursor: pointer;
  background: #00cc99;
}
#validate {
  height: 70px;
  width: 150px;
  background: cadetblue;
  display: inline-block;
}

::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3474aa;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #284f70;
}

#playerName {
  text-align: center;
  font-family: "Baloo Bhaina 2", cursive;
  margin: 0;
  height: 40px;
  color: rgb(238, 236, 215);
}
#playerNames {
  font-family: "Baloo Bhaina 2", cursive;
  margin: 0;
  height: 40px;
  color: rgb(238, 236, 215);
}

#send-button {
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  border: solid black 1px;
}
h5 {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
#send-button:hover {
  background-color: rgb(216, 211, 205);
}
/* @font-face {
  font-family: "sevenSegment";
  src: url("Seven_Segment.ttf");
} */
#op {
  margin-left: 48%;
  color: #86bcf4;
  font-family: "Roboto", sans-serif;
}
